AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=create-credentials-for-sqs-and-sns
AWS_ACCESS_KEY_SECRET=create-credentials-for-sqs-and-sns
SQS_QUEUE_NAME=my-queue-name
SNS_OUTBOX_TOPIC_ARN=full-arn-of-for-topic